# .gitignore


# junk
.DS_Store
*~

# Secrets
*.token
.env

# Model weights
*.pt
*.bin
*.safetensors

# Generated Outputs
__pycache__/
.ipynb_checkpoints/
*.pyc

# result files
*.npz

data/*
!data/.gitkeep

figures/workflows/*
!figures/workflows/.gitkeep



# extras
old/
code_design_prompts/
tests/
sandbox/
figures/extras/