# .gitignore


# junk
.DS_Store
*~

# Secrets
*.token
.env

# Model weights
*.pt
*.bin
*.safetensors

# Generated Outputs
__pycache__/
.ipynb_checkpoints/
*.pyc

# result files
data/
figures/
*.png

# extras
old/
code_design_prompts/
tests/
